<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niit.a_dai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.niit.a_dai.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.niit.a_dai.LoginActivity"></activity>
 		<activity android:name="com.niit.a_dai.FindActivity"></activity>
 		<activity android:name="com.niit.a_dai.RegisterActivity"></activity>
 		<activity android:name="com.niit.a_dai.PlayActivity"></activity>
 		<activity android:name="com.niit.a_dai.MusicListActivity"></activity>
 		<activity android:name="com.niit.a_dai.MusicMessageActivity"></activity>
 		<service android:name="com.niit.a_dai.PlayService"></service>
       </application>

</manifest>
